<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="robot_description" command="cat '$(find camera_robot)/models/camera1/model.sdf'" />
    
    <arg name="init_pose" value="-x 8.4 -y -9.09 -z 20 -R 0 -P 0 -Y 0" />
  

    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="$(arg init_pose) -sdf -param robot_description -model camera" />
          
</launch>


